nav
    div(class='nav-wrapper')
        ul(id='navbar-links' class='left')
            li
                button(id='index-button' class='btn navbar-button' onclick='window.location="/"') Home page
        ul(id='navbar-links' class='right')
            li
                button(id='register-button' class='btn navbar-button' onclick='window.location="/register"') Register 
            li
                button(id='login-button' class='btn navbar-button' onclick='window.location="/login"') Login
            li(id='logout-section')
                button(id='logout-button' class='btn navbar-button') Logout