extends layout

block content
  include navbar.pug
  h5 Welcome to the forum! 

  div(id='create-post' class='create-post' )
    h6 Create a new post
    form(id='post-form')
      textarea(name='title' form='post-form' class='materialize-textarea' placeholder='Post title' maxlength='50'  oninput='this.style.height = this.scrollHeight + "px"' required)
      label(for='title') Title(50 char. max)
      textarea(name='message' form='post-form' class='materialize-textarea' placeholder='Write your message here...'  oninput='this.style.height = this.scrollHeight + "px"' required)
      label(for='message') Message
      br
      br
      input(type='submit' class='btn')

  h4 Posts
  div(id='posts' class='z-depth-3')

  script(src='/javascripts/index.js' defer)